@page
@model DecksModel

@{
    ViewData["Title"] = "Decks";
}

@* Entry point for React DOM *@
<div id="root"></div>

@section scripts{
    <script type="text/babel" src="~/js/deck.js">
    </script>
}