@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Guest!</h1>
    <p>Shuffle 52 cards</p>
    <img src="~/images/home/aces.png" alt="Aces" width="612" height="366"/>
</div>
